{{define "root-style"}}
{{end}}
{{define "root-body"}}
{{end}} {{define "root-script"}}
<script>
  Ext.onReady(function() {

    var panel = new Ext.Panel({
      renderTo: 'content',
      layout: 'column',
      items: [
        {
          columnWidth: .5,
          html: '<div id="updateUser"></div>'
        }
      ]
    });

    var formCreateUser = new Ext.FormPanel({
      renderTo: 'updateUser',
      labelAlign: 'top',
      title: 'Update User',
      frame:true,
      id: 'formUpdateUser',
      items: [{
        layout: 'column',
        items: [
          {
            columnWidth:.5,
            layout: 'form',
            items: [
              {
                xtype:'textfield',
                fieldLabel: 'First Name',
                name: 'firstName',
                id: 'firstName',
                anchor:'95%',
                allowBlank: false
              }
            ]
          },{
            columnWidth:.5,
            layout: 'form',
            items: [
              {
                xtype:'textfield',
                fieldLabel: 'Last Name',
                name: 'lastName',
                id: 'lastName',
                anchor:'95%',
                allowBlank: false
              }
            ]
          },{
            columnWidth:.5,
            layout: 'form',
            items: [
              {
                xtype:'textfield',
                fieldLabel: 'Employee ID',
                name: 'empid',
                id: 'empid',
                anchor:'95%',
                allowBlank: false,
                readOnly: true,
                style: 'background: #ecf0f1;'
              }
            ]
          },{
            columnWidth:.5,
            layout: 'form',
            items: [
              {
                xtype:'textfield',
                vtype:'email',
                fieldLabel: 'Email',
                name: 'email',
                id: 'email',
                anchor:'95%'
              }
            ]
          },{
            columnWidth:.5,
            layout: 'form',
            items: [
              {
                xtype:'textfield',
                fieldLabel: 'Password',
                name: 'password',
                inputType:'password',
                id: 'password',
                anchor:'95%',
                allowBlank: false
              }
            ]
          },{
            columnWidth:.5,
            layout: 'form',
            items: [
              {
                xtype:'textfield',
                fieldLabel: 'Telephone',
                name: 'telephone',
                id: 'telephone',
                anchor:'95%'
              }
            ]
          },{
            columnWidth:.5,
            layout: 'form',
            items: [
              {
                xtype: 'combo',
                store: [
                  'MPS',
                  'MIS'
                ],
                emptyText:'Select a department...',
                fieldLabel: 'Department',
                id: 'department',
                anchor:'95%',
                allowBlank: false
              }
            ]
          },{
            columnWidth:.5,
            layout: 'form',
            items: [
              {
                xtype: 'combo',
                store: [
                  'User',
                  'Admin'
                ],
                emptyText:'Select a role...',
                fieldLabel: 'Role',
                id: 'role',
                anchor:'95%',
                allowBlank: false
              }
            ]
          }
        ]
      }],
      buttons: [{
        text: 'Update',
        handler: function() {
          formCreateUser.getForm().submit();

          var firstNameU = $('#firstName').val();
          var lastNameU = $('#lastName').val();
          var empidU = $('#empid').val();
          var emailU = $('#email').val();
          var passwordU = $('#password').val();
          var telephoneU = $('#telephone').val();
          var departmentU = $('#department').val();
          var roleU = $('#role').val();

          if(firstNameU.length < 1) {
            return false;
          }
          if(lastNameU.length < 1) {
            return false;
          }
          if(empidU.length < 1) {
            return false;
          }
          if(passwordU.length < 1) {
            return false;
          }
          if(departmentU.length < 1 || departmentU.indexOf('Select a department...') >= 0) {
            return false;
          }
          if(roleU.length < 1 || roleU.indexOf('Select a role...') >= 0) {
            return false;
          }

          var dataUser = {
            firstName: firstNameU,
            lastName: lastNameU,
            employeeId: empidU,
            email: emailU,
            password: passwordU,
            telephone: telephoneU,
            department: departmentU,
            role: roleU,
            id: '{{.id}}'
          }

          Ext.MessageBox.show({
            msg: 'Saving your data, please wait...',
            progressText: 'Saving...',
            width:300,
            wait:true,
            waitConfig: {interval:200},
            icon:'ext-mb-download',
            animEl: 'mb7'
          });

          $.ajax({
            type: 'POST',
            headers: {
              'Content-Type': 'application/json; charset=utf-8',
              'Authorization': localStorage.getItem('token')
            },
            dataType: 'json',
            url: '{{.api_url}}/api/admin/updateuser',
            data: JSON.stringify(dataUser),
            success: function(result) {
              console.log(result.message)
              Ext.MessageBox.hide();
              window.location.href = '/admin/showuser?id=' + result.id;
            },
            error: function(err) {
              Ext.MessageBox.hide();
              var resErr = err.responseJSON;
              if(resErr.message.indexOf('token fail') >= 0) {
                localStorage.clear();
                window.location.href = '/login';
              }
              console.log(resErr.message);
              if(resErr.message.indexOf('duplicate employee ID') >= 0) {
                Ext.MessageBox.show({
                  title: 'Error',
                  msg: resErr.message,
                  buttons: Ext.MessageBox.OK,
                  animEl: 'mb9',
                  icon: Ext.MessageBox.ERROR
                });
              }
            }
          });
        }
      }]
    });

    var myMask = new Ext.LoadMask(Ext.getBody(), {msg:"Please wait..."});
    myMask.show();

    $.ajax({
      type: 'POST',
      headers: {
        'Content-Type': 'application/json; charset=utf-8',
        'Authorization': localStorage.getItem('token')
      },
      dataType: "json",
      url: '{{.api_url}}/api/admin/finduserbyid',
      data: JSON.stringify({'id': '{{.id}}'}),
      success: function(result) {
        $('#firstName').val(result.firstName);
        $('#lastName').val(result.lastName);
        $('#empid').val(result.employeeID);
        $('#email').val(result.email);
        $('#telephone').val(result.telephone);
        $('#department').val(result.department);
        $('#role').val(result.role);
        myMask.hide();
      },
      error: function(err) {
        myMask.hide();
        var resErr = err.responseJSON;
        if(resErr.message.indexOf('token fail') >= 0) {
          localStorage.clear();
          window.location.href = '/login';
        }
      }
    });
  });
</script>
{{end}}