{{define "root-style"}}
{{end}}
{{define "root-body"}}
<div id="body"></div>
{{end}} {{define "root-script"}}
<script>
  Ext.onReady(function() {

    var panel = new Ext.Panel({
      renderTo: 'content',
      layout: 'column',
      items: [
        {
          columnWidth: .3,
          html: '<div id="formGroup"></div>'
        },
        {
          columnWidth: .7,
          html: '<div id="gridGroup"></div>'
        }
      ]
    });
    
    var formCreateGroup = new Ext.FormPanel({
      renderTo: 'formGroup',
      labelWidth: 75,
      title: 'Add Group',
      frame:true,
      defaults: {width: 200},
      items: [
        {
          xtype: 'textfield',
          fieldLabel: 'Group Name',
          name: 'group',
          emptyText:'Enter group name ...',
          allowBlank: false,
          id: 'groupName',
        },
        {
          xtype: 'combo',
          store: [
            'Electronic',
            'Automotive',
            'General'
          ],
          emptyText:'Select a type...',
          fieldLabel: 'Type Name',
          id: 'typeName'
        }
      ],
      buttons: [{
        text: 'Add Group',
        handler: function() {
          console.log('add group');
        }
      },{
        text: 'Clear',
        handler: function() {
          formCreateGroup.getForm().reset();
        }
      }]
    });

    var store = new Ext.data.ArrayStore({
      fields: [
        { name: 'no' },
        { name: 'groupName' },
        { name: 'typeName' },
        { name: 'totalPart' }
      ]
    });

    new Ext.grid.GridPanel({
      renderTo: 'gridGroup',
      height:500,
      store: store,
      trackMouseOver:false,
      disableSelection:true,
      loadMask: true,
      title:'Group list',
      columns:[
        {
          id: 'no',
          header: '#',
          dataIndex: 'no',
          width    : 50,
        },
        {
          id: 'groupName',
          header: 'Group Name',
          dataIndex: 'groupName',
          sortable: true,
          width    : 200,
        },
        {
          id: 'typeName',
          header: 'Type Name',
          dataIndex: 'typeName',
          width    : 200,
        },
        {
          id: 'totalPart',
          header: 'Total Part',
          dataIndex: 'totalPart',
          width    : 150,
        }
      ],
      bbar: new Ext.PagingToolbar({
        pageSize: 25,
        store: store,
        displayInfo: true,
        displayMsg: 'Displaying data {0} - {1} of {2}',
        emptyMsg: "No data to display"
      })
    });
  });
</script>
{{end}}