{{define "root"}}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>MPS</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="/-/core/extjs/resources/css/ext-all.css" />
    <link rel="stylesheet" href="/-/core/css/default.css" />
    <link rel="stylesheet" href="/-/core/extjs/examples/menu/menus.css" />
    <script src="/-/core/extjs/adapter/ext/ext-base.js"></script>
    <script src="/-/core/extjs/ext-all.js"></script>
    <script src="/-/core/js/jquery.min.js"></script>
    {{template "root-style" .}}
  </head>
  <body>
      {{template "root-header" .}}
      {{template "root-body" .}}
      {{template "root-script" .}}
  </body>
</html>
{{end}}